body {
  background-color:skyblue;
}
header {
  text-align: center;
}
.input-container {
  text-align: center;
}
#plan-title {
  text-align: center;
}
.hidden {
  display: none;
}
.forecast-card {
  text-align: center;
}
.mini-forecast {
  display:inline-block;
  text-align: center;
  border: black solid 4px;
  width: 7rem;
  height: 10rem;
  margin: .25rem .25rem;
  box-shadow: 5px 5px green;
}
.mini-forecast > * {
  margin: .33rem;
}