body {
  background-color:skyblue;
}
header {
  text-align: center;
}
.input-container {
  text-align: center;
}
#plan-title {
  text-align: center;
}
.hidden {
  display: none;
}
#plan-container {
  margin-left: 7.5vw;
  width: 85vw;
  height: 25vw;
}
.forecast-card {
  display: inline-block;
  text-align: center;
  border: black solid 4px;
  width: 18vw;
  height: inherit;
  box-shadow: 10px 10px green;
}
.forecast-card > * {
  margin: 1rem;
}
.plan-card {
  float: right;
  text-align: left;
  border: black solid 4px;
  width: 60vw;
  height: inherit;
  box-shadow: 10px 10px green;
}
.plan-card > * {
  display: inline-block;
  text-align: left;
  width: 24vw;
  height: inherit;
  margin: 0vw 4vw 0vw 1vw;
}
.forecast-7-card {
  text-align: center;
}
.mini-forecast {
  display:inline-block;
  text-align: center;
  border: black solid 4px;
  width: 7rem;
  height: 10rem;
  margin: .25rem .25rem;
  box-shadow: 5px 5px green;
}
.mini-forecast > * {
  margin: .33rem;
}